Repository decide-part-andarax-3/decide, pull requests merged in 2021-01, with the labels that each got.

#72 Test de almacenamiento de comprimido
  decide/voting/models.py
  decide/voting/tests.py
Labels: test

#71 Almacenamiento de comprimido
  decide/voting/models.py
  decide/voting/tests.py
Labels: enhancement

#81 Tests de URL de votación personalizable
  .gitignore
  decide/voting/models.py
  decide/voting/tests.py
Labels: test

#85 Integración entre votaciones ordenadas y postprocesado Borda
  .vscode/settings.json
  decide/postproc/views.py
  decide/voting/migrations/0009_merge_20210105_1029.py
  decide/voting/models.py
Labels: enhancement

#88 Incidencia resulta del comprimido de resultados
  .gitignore
  decide/voting/models.py
  decide/voting/tests.py
Labels: invalid

#84 Voting order validations
  decide/voting/migrations/0009_merge_20210105_1032.py
  decide/voting/migrations/0010_auto_20210105_1043.py
  decide/voting/models.py
  decide/voting/tests.py
Labels: enhancement

#92 Corregidos errores de implementación en las pruebas e integración de Travis CI
  decide/voting/migrations/0011_merge_20210106_0107.py
  decide/voting/tests.py
Labels: test

#142 Fichero de almacenamiento de votos mejorado
  decide/voting/models.py
  decide/voting/tests.py
Labels: enhancement, test

#149 Test parametrizados creados
  decide/authentication/test_2fa.py
  decide/authentication/test_github.py
  decide/authentication/test_google.py
  decide/booth/urls.py
  decide/booth/views.py
  decide/store/tests.py
  decide/voting/migrations/0013_auto_20210109_1633.py
  decide/voting/models.py
  decide/voting/serializers.py
  decide/voting/tests.py
  requirements.txt
Labels: test

#152 Voting test varios
  decide/voting/tests.py
Labels: test

#154 incremento outh facebook
  decide/authentication/templates/facebook-redirect.html
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/booth/templates/booth/booth.html
  decide/decide/settings.py
Labels: enhancement

#155 Test de la funcionalidad para elegir postprocesado
  decide/authentication/migrations/0003_auto_20210110_1401.py
  decide/voting/tests.py
Labels: test

#161 inserccion de la key y secret para el despliegue de la aplicacion
  decide/decide/settings.py
Labels: deployment

#164 Añadido nuevos test sobre el algoritmo relativa y cambiado su lista de resultados
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: test

#191 Voting order loadtest
  decide/voting/serializers.py
  loadtest/gen_census.py
  loadtest/locustfile.py
  loadtest/question_orders.json
  loadtest/votings.json
Labels: bug, test

#200 Añadido nuevos test sobre el algoritmo dhont
  decide/postproc/tests.py
Labels: test

#210 Se ha solucionado el hotfix con order y yes/no
  decide/voting/models.py
Labels: bug, test

#212 Autenticacion detalles usuario
  decide/authentication/forms.py
  decide/authentication/templates/inicio.html
  decide/authentication/tests.py
  decide/authentication/views.py
Labels: enhancement, test

#213 Develop
  decide/authentication/forms.py
  decide/authentication/templates/inicio.html
  decide/authentication/tests.py
  decide/authentication/views.py
Labels: deployment

#216 Algoritmo de Webster modificado
  .idea/.gitignore
  .idea/decide.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: enhancement, test
